<div class="s-nav">


    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-0">
                <p class="s-nav-p">Let's talk! <strong>+57 444 11 00 35</strong> </p>
            </div>
            <div class="col-md-4 col-sm-0">
                    <p class="s-nav-p"> Free shipping on a purchase value of $200</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <div id="links">
                    <ul>
                        <li>
                        <a href="#"><i class=""></i></a>    
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>