<div class="container">

    <div class="display">
        <span class="display-span"> 
          Name : 
        </span>
        <div class="display-data">
            <h2>{{ bookDetails.name}}</h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
          Price : 
        </span>
        <div class="display-data">
            <h2>
                {{ bookDetails.price}}
            </h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
          Page Numbers : 
        </span>
        <div class="display-data">
            <h2>
                {{ bookDetails.pageNumbers}}
            </h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
          Author : 
        </span>
        <div class="display-data">
            <h2>
                {{ bookDetails.authorName}}
            </h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
          BookType : 
        </span>
        <div class="display-data">
            <h2>
                {{ bookDetails.bookTypeName}}
            </h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
          Publish Date : 
        </span>
        <div class="display-data">
            <h2>
                {{ bookDetails.publishDate|date}}
            </h2>
        </div>
    </div>
    <div class="display">
        <span class="display-span"> 
         Libraries that have it 
          </span>
        <div class="display-data">
            <ul style="list-style-type:none">
                <li class="lib-li" style="display:inline-block" *ngFor="let lib of bookDetails.librariesContainBook" id="lib-{{lib.id}}">
                    <a style='padding:7px ;margin:10px' class="btn btn-primary ">{{lib.name}}</a>
                    <span (click)="CheckBook(bookDetails.id, lib.id)">Check</span>
                </li>
            </ul>
        </div>
    </div>
</div>